<!doctype html>
<html lang="en" data-ng-app='app' data-ng-controller="AppController">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title data-ng-bind="pageTitle + ' - ' + appName">[Loading application...]</title>
<link rel="stylesheet" href="lib/bootstrap-3.1.1-dist/css/bootstrap.css" />
<link rel="stylesheet" href="lib/angular-ui-ng-grid-6b79882/ng-grid.css" />
<link rel="stylesheet" href="css/dashboard.css" />
<link rel="stylesheet" href="css/app.css" />
<script src="lib/jquery/jquery-1.9.1.js"></script>
<script src="lib/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
<script src="lib/angular-1.2.12/angular.js"></script>
<script src="lib/angular-ui-ng-grid-6b79882/ng-grid-2.0.7.debug.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">
	function AppController($scope) {
		$scope.appName = 'MSeg :: Mastrangelo Seguros32';

		$scope.now = function() {
			return Date.now();
		};
	}

	function MenuController($scope) {
		$scope.showDashboard = function() {
			$scope.view = "views/dashboard.html";
		};
		$scope.showTransactions = function() {
			$scope.view = "views/transactions.html";
		};
		$scope.showAccounts = function() {
			$scope.view = "views/accounts.html";
		};
		$scope.showCurrencies = function() {
			$scope.view = "views/currencies.html";
		};

		$scope.isActive = function(name) {
			return "views/" + name + ".html" == $scope.view ? "active" : "";
		};

		//$scope.showDashboard();
		$scope.showCurrencies();
	}
</script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Acuarica Accounting</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Settings</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>
  <div data-ng-controller="MenuController" class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="{{isActive('dashboard')}}"><a href="" data-ng-click="showDashboard()">Dashboard</a></li>
          <li class="{{isActive('transactions')}}"><a href="" data-ng-click="showTransactions()">Transactions</a></li>
          <li class="{{isActive('accounts')}}"><a href="" data-ng-click="showAccounts()">Accounts</a></li>
          <li class="{{isActive('currencies')}}"><a href="" data-ng-click="showCurrencies()">Currencies</a></li>
        </ul>
        

      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div data-ng-include="view"></div>
        <div style="text-align: center; margin-top: 5px; margin-bottom: 10px;">
          <span class="label label-info">Copyright <span data-ng-bind="now()|date:'yyyy'">...</span> by Acuarica Inc.
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
