---
import type { getRenderedCollection } from "@utils/content";
import Project from "@components/Project.astro";
import Section from "@components/Section.astro";

interface Props {
    projects: Awaited<ReturnType<typeof getRenderedCollection<"projects">>>;
}

const { projects } = Astro.props;
---

<Section id="projects" title="Projects">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
        {
            projects.map(entry => (
                <Project
                    title={entry.data.title}
                    lang={entry.data.lang}
                    tags={entry.data.tags}
                    link={entry.data.link}
                >
                    <entry.Content />
                </Project>
            ))
        }
    </div>
</Section>
