---
import Page from "@layouts/Page.astro";
import TagCloud from "@components/TagCloud.astro";
import sections from "@components/sections";
---

<Page title="Tags">
    <sections.Section id="tags" title="Tags">
        <div>
            <TagCloud />
        </div>
    </sections.Section>
</Page>
