---
import { Icon } from "astro-icon";

interface Props {
    authors: string[];
}

const { authors } = Astro.props;
---

<div>
    <Icon name="fa-solid:users" />
    <i>{authors.join(", ")}</i>
</div>
