---
import Menu from "./Menu.astro";
---

<div class="drawer container mx-auto bg-base-100">
    <input id="main-drawer" type="checkbox" class="drawer-toggle" />
    <div
        class="drawer-content flex flex-col"
        style="scroll-padding-top: 5.5rem;"
    >
        <div
            class="w-full navbar bg-base-300 lg:justify-center bg-opacity-90 backdrop-blur top-0 z-50 h-16 sticky"
        >
            <div class="flex-none lg:hidden">
                <label for="main-drawer" class="btn btn-square btn-ghost">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 stroke-current"
                        ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path></svg
                    >
                </label>
            </div>
            <div class="flex-none hidden lg:block">
                <Menu class="menu menu-horizontal" />
            </div>
        </div>
        <div class="px-6 lg:px-10 pt-10">
            <slot />
        </div>
    </div>
    <div class="drawer-side">
        <label for="main-drawer" class="drawer-overlay"></label>
        <Menu class="menu p-4 w-48 bg-base-100" />
    </div>
</div>
