<footer class="flex justify-between py-8 px-10">
    <div>
        Designed & Developed in Switzerland with
        <i class="fas fa-heart"></i>
        and
        <a class="link" href="https://astro.build/" target="_blank"
            >{Astro.generator}</a
        >
        <i class="fas fa-rocket"></i>
    </div>
    <div>&copy; {new Date().getFullYear()} Luis Mastrangelo</div>
</footer>
