---
import { Icon } from "astro-icon";
---

<footer
    class="flex flex-col gap-y-4 md:flex-row md:justify-between py-12 md:px-5"
>
    <div>
        Designed & Developed in Switzerland with
        <Icon name="fa-solid:heart" />
        and
        <a class="link" href="https://astro.build/" target="_blank"
            >{Astro.generator}</a
        >
        <Icon name="fa-solid:rocket" />
    </div>
    <div>&copy; {new Date().getFullYear()} Luis Mastrangelo</div>
</footer>

<style>
    footer > div {
        @apply text-center;
    }
</style>
