<nav class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">LM</a>
    </div>
    <div class="navbar-center">
        <ul
            class="menu menu-vertical md:menu-horizontal bg-base-100 rounded-box"
        >
            <li class="hover-bordered"><a href="#">Home</a></li>
            <li class="hover-bordered"><a href="#skills">Skills</a></li>
            <li class="hover-bordered"><a href="#experience">Experience</a></li>
            <li class="hover-bordered"><a href="#education">Education</a></li>
            <li class="hover-bordered"><a href="#posts">Posts</a></li>
            <li class="hover-bordered"><a href="#contact">Contact</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        sd
    </div>
</nav>
