---
const menu = [
    { label: "Home", href: "" },
    { label: "Skills", href: "skills" },
    { label: "Experience", href: "Experience" },
    { label: "Education", href: "Education" },
    { label: "Projects", href: "projects" },
    { label: "Posts", href: "posts" },
    { label: "Publications", href: "Publications" },
    { label: "Contact", href: "contact" },
];
---

<nav class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl">LM</a>
    </div>
    <div class="navbar-center">
        <ul
            class="menu menu-vertical md:menu-horizontal bg-base-100 rounded-box"
        >
            {
                menu.map((item) => (
                    <li class="hover-bordered">
                        <a href={`#${item.href}`}>{item.label}</a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="navbar-end"></div>
</nav>
