---
const menu = [
    { icon: "fas fa-home", label: "", href: "" },
    { icon: "fas fa-user-cog", label: "Skills", href: "skills" },
    { icon: "fas fa-briefcase", label: "Experience", href: "experience" },
    { icon: "fas fa-graduation-cap", label: "Education", href: "education" },
    { icon: "fas fa-tasks", label: "Projects", href: "projects" },
    { icon: "fab fa-microblog", label: "Posts", href: "posts" },
    { icon: "fas fa-newspaper", label: "Publications", href: "publications" },
    { icon: "fas fa-envelope", label: "Contact", href: "contact" },
];
---

<nav class="navbar bg-base-100 sticky top-0 z-50 rounded-lg">
    <div class="navbar-start"></div>
    <div class="navbar-center">
        <ul
            class="menu menu-vertical md:menu-horizontal bg-base-100 rounded-box"
        >
            {
                menu.map((item) => (
                    <li class="hover-bordered text-sm">
                        <a href={`#${item.href}`}>
                            <i class={item.icon} />
                            {item.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="navbar-end"></div>
</nav>
