---
const { title, subtitle, icon } = Astro.props;
---

<div class="card">
    <div>{title}</div>
    <div>{subtitle}</div>
    <i class={icon}></i>
</div>

<style>
    .card {
        display: flex;
        height: 7rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid var(--gray-800);
        border-radius: 1.5rem;
        color: var(--gray-300);
        background: var(--gradient-subtle);
        box-shadow: var(--shadow-sm);
    }
</style>
