---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props;
---

<div class="card shadow-xl bg-primary-focus">
    <div class="card-body">
        <h2 class="card-title font-bold min-w-[10em]">Table of contents</h2>
        <p>
            {
                headings.map(heading => (
                    <div>
                        <a class="link" href={`#${heading.slug}`}>
                            {heading.text}
                        </a>
                    </div>
                ))
            }
        </p>
    </div>
</div>
