---
import type { Ul } from "@utils/md-toc";

interface Props {
    toc: Ul;
}

const { toc } = Astro.props;

function getToc(ul: Ul): string {
    return `<ul>
${ul
    .map(
        entry => `<li><a class="link" href=${entry.href}>${entry.text}</a>
            ${entry.children ? getToc(entry.children) : ""}
            </li>`
    )
    .join(" ")}
        </ul>`;
}
---

<div class="card shadow-xl bg-primary-focus pt-10 px-8 pb-8">
    <div class="text-lg font-bold min-w-[10em]">Table of contents</div>
    <article class="prose pt-4" set:html={getToc(toc)} />
</div>
