<h4>Datos del Banco</h4>

<div class="row">
	<input acx-boxq name="codigo" type="text" ng-model="self.codigo"
		acx-label="Codigo B.C.R.A." acx-label-class="span3" class="span2"
		ng-minlength="3" maxlength="3" required />
</div>

<div class="row">
	<input acx-boxq name="nombre" type="text" data-ng-model="self.symbol"
		acx-label="Banco" acx-label-class="span3" class="span5" maxlength="50"
		ng-readonly="readonly" required />
</div>

<h5>Referencias</h5>

<ol>
	<li><a href="http://www.bcra.gov.ar/pdfs/comytexord/b9195.pdf"
		target="_blank">http://www.bcra.gov.ar/pdfs/comytexord/b9195.pdf</a></li>
	<li><a href="http://www.bcra.gov.ar/pdfs/comytexord/a2622.pdf"
		target="_blank">http://www.bcra.gov.ar/pdfs/comytexord/a2622.pdf</a></li>
	<li><a
		href="http://www.clientebancario.gov.ar/mediospago/mp080000.asp"
		target="_blank">http://www.clientebancario.gov.ar/mediospago/mp080000.asp</a></li>
</ol>
